DEPLOYMENT_MODE=personal
FEATURE_AUTH=false
FEATURE_BILLING=false
FEATURE_MULTI_TENANT=false
OCR_PROVIDER=none
EMBEDDING_PROVIDER=hash
ANALYSIS_PROVIDER=rules
TRANSLATION_PROVIDER=none
FEATURE_AUDIO=false

FEATURE_PROJECTS=true
FEATURE_URL_INGESTION=true
FEATURE_CHAT_RAG=true
FEATURE_KNOWLEDGE_ENRICHMENT=true
FEATURE_SVG=true
DEFAULT_RECIPE_PROFILE=standard
